<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <mat-card-header>
                        <!-- heading -->
                        <mat-card-title>
                           Welcome to Admin Profile
                        </mat-card-title>     
                    </mat-card-header>     

                    <mat-divider></mat-divider>
                        <br/>
                        <ul>
                            <li>You can add Categories here.</li>
                            <li>You can add Quiz of particular subject here.</li>
                            <li>You can decide the number of questions in the quiz and maximum marks.</li>
                            <li>You can add question bank to the particular quiz the quiz will display randomly for all the students.</li>
                            <li>You can delete and update the quiz.</li>
                            <li>You can also delete the categories.</li>
                            <li>You can set Publish Status of the quiz.</li>
                            
                        </ul>